@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ElStore.Models.ViewModel.DetailsVM

<div class="">
    <form method="post">
        <p>@Model.Product?.Brand @Model.Product?.Model</p>
        <p>@Model.DescriptionPc?.Text</p>
        <p>@Model.DescriptionPc?.RAM</p>
        <p>@Model.DescriptionPc?.FrontCamera</p>
        <p>@Model.DescriptionPc?.BackCamera</p>

        @foreach (var imageUrl in Model.Image.SelectMany(imageList => imageList))
        {
            <div class="p-3">
                <img src="@imageUrl" class="d-block w-100" style="max-width: 500px; max-height: 500px; object-fit: contain;" alt="Image">
            </div>
        }

        <p>@Model.Video</p>
    </form>
</div>
