@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.AllUser

@if (User.Identity.IsAuthenticated)
{
    <div class="container py-2">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                   class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">@Model.UserName</h5>
              @if (User.IsInRole("Admin"))
              {
                <p class="text-muted mb-1">Admin</p>
              }
              else
              {
                <p class="text-muted mb-1">Customer</p>
              }
              
              <div class="d-flex justify-content-center mb-2">
                <form method="post" asp-action="Logout">
                  @Html.AntiForgeryToken()
                  <button type="submit" class="btn btn-danger">Logout</button>
                </form>
              </div>
              @if (User.IsInRole("Admin"))
              {
                <div class="d-flex justify-content-center mb-2">
                  <form method="post" asp-action="CreateAdmin">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success">Create admin</button>
                  </form>
                </div>
              }
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.UserName</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.Email</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.PhoneNumber</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">@Model.Adress</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
}