@model ElStore.Models.AllUser

@{
    ViewData["Title"] = "Account Information";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Account Information</h1>

    @if (Model != null)
    {
        <div>
            <dl class="row">
                <dt class="col-sm-3">User ID:</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">Username:</dt>
                <dd class="col-sm-9">@Model.UserName</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">First Name:</dt>
                <dd class="col-sm-9">@Model.UserName</dd>
            
                <dt class="col-sm-3">Phone Number:</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>
                
                <dt class="col-sm-3">Guid:</dt>
                <dd class="col-sm-9">@Model.JWT</dd>
                
                <dt class="col-sm-3">PasswordHash:</dt>
                <dd class="col-sm-9">@Model.PasswordHash</dd>
            </dl>
            
            <form method="post" asp-action="Logout">
                @Html.AntiForgeryToken()
                <button type="submit">Logout</button>
            </form>
        </div>
    }
    else
    {
        <p>User information is not available.</p>
    }
}
else
{
    <p>Для просмотра информации об аккаунте необходима авторизация. Пожалуйста, <a asp-controller="Users" asp-action="Login">войдите</a> или <a asp-controller="Users" asp-action="Register">зарегистрируйтесь</a>.</p>
}