@model List<ElStore.Models.ViewModel.ProductVM>

@if (Model.Count() != 0)
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        {
            <div class="col">
                <div class="card">
                    <div id="carousel-@product.Product.Id" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var imageUrl in product.Image)
                            {
                                <div class="carousel-item @(imageUrl == product.Image.First() ? "active" : "")">
                                    <img src="@imageUrl" class="d-block w-100 img-fluid rounded carousel-image" alt="Image">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@product.Product.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@product.Product.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a asp-action="Details" asp-route-id="@product.Product.Id" class="text-decoration-none text-dark">@product.Product.Brand @product.Product.Model</a>
                        </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <a asp-route-Id="@product.Product.Id" asp-action="Upsert">
                                <i class="fas fa-edit custom-icon"></i>
                            </a>
                            <p class="card-text">@product.Product.Price$</p>
                            <button class="btn btn-primary">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center mt-3">
        <a asp-action="Upsert">
            <button class="custom-button">+</button>
        </a>
    </div>
}
else
{
    <p class="text-center">Watches</p>
    <p class="text-center">No product in this category :(</p>
    <div class="text-center mt-3">
        <a asp-action="Upsert">
            <button class="custom-button">+</button>
        </a>
    </div>
}
