@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ElStore.Models.ViewModel.DetailsVM


<div class="">
    <form method="post">
        
        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <div class="image-block p-3 image-back">
                    <div id="carousel-@Model.Product?.Id" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner">
                            @foreach (var imageUrl in Model.Image.SelectMany(imageList => imageList))
                            {
                                <div class="carousel-item carousel-item-details @(imageUrl == Model.Image.SelectMany(imageList => imageList).First() ? "active" : "")">
                                    <div class="p-3">
                                        <img src="@imageUrl" class="d-block w-100 img-fluid rounded" alt="Image">
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@Model.Product?.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@Model.Product?.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <div class="text-block p-3 text-description">
                    <h4 class="mt-0 text-center">@Model.Product?.Brand @Model.Product?.Model</h4>
                    <p>@Model.Product?.ShortDescription</p>
                    <h5>Characteristics: </h5>
                    <ul class="no-style">
                        <li>@Model.HearphoneDescriptions?.speaker</li>
                        <li>@Model.HearphoneDescriptions?.TypeConnections</li>
                        <li>@Model.HearphoneDescriptions?.Design</li>
                    </ul>
                    <p>@Model.HearphoneDescriptions?.Text</p>
                </div>
                <br/>
                    <div class="text-block p-3 text-description">
                        <partial name="_PaymentAndDelivery"/>
                    </div>
            </div>
        </div>

        <div id="player" class="text-description custom-player"></div>
        
    </form>
</div>

@section Scripts{
    <partial name="VideoPlayerPartial"/>
}
