@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Models.ViewModel.ProductVM>

@if (Model.Count() != 0)
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        {
            <input asp-for="@product.Product.Id" hidden/>
            <div class="col">
                <div class="card">
                    <div id="carousel-@product.Product.Id" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @foreach (var imageUrl in product.Image)
                            {
                                <div class="carousel-item @(imageUrl == product.Image.First() ? "active" : "")">
                                    <img src="@imageUrl" class="d-block w-100 img-fluid rounded carousel-image" alt="Image">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@product.Product.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@product.Product.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a asp-action="Details" asp-route-id="@product.Product.Id" class="text-decoration-none text-dark">@product.Product.Brand @product.Product.Model</a>
                        </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-route-Id="@product.Product.Id" asp-action="Upsert">
                                    <i class="fa fa-edit"></i>
                                </a>
                            }
                            <p class="card-text">@product.Product.Price$</p>
                            @if (product.ExistInCard)
                            {
                                <a asp-action="RemoveFromCart" asp-route-id="@product.Product.Id" class="btn btn-warning btn-square form-control btn-lg">Remove from Cart</a>
                            }
                            else
                            {
                                <form method="post" asp-action="Details" asp-route-id="@product.Product.Id">
                                    <button class="btn btn-primary" type="submit">Buy</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center mt-3">
        @if (User.IsInRole("Admin"))
        {
                    <a asp-action="Upsert">
                        <button class="custom-button">+</button>
                    </a>
        }
    </div>
}
else
{
    <p class="text-center">No product in this category :(</p>
    <div class="text-center mt-3">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Upsert">
                <button class="custom-button">+</button>
            </a>
        }
        
    </div>
}
